@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{box-sizing: border-box;
margin: 0px;
padding: 0px;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}

body {
    background-color:#202225;
}
header{
    background-color: #292b2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    padding: 10px 10%;
}


.nombrePersona {
    color:#ffbc0e

}

.header .logo img{
    height: 80px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
   
    
}
.header .logo{
    cursor: pointer;
}
.header .logo img:hover  {
    transform: scale(1.2);
    
}
.header .nav_links {
    list-style: none;
}
.header .nav_links li {
display: inline-block;
padding: 0 10px;

}
.header .nav_links li:hover {
transform: scale(1.2);
}

.header .nav_links a {
    font-size: 700;
    color: beige;
    

}
.header .nav_links li a:hover {
color: #aaacad;
}
.header .btn button,
.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.menu{
    display: none;
}
.header .btn button:hover,
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}
@media screen and (max-width: 800px){
    .nav_links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}


/* NAV */
.header a{
    text-decoration: none;  
    
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}
.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* blokes*/
.block1 ,.block2 , .block3 , .block4{
    margin: 60px;
    
    color: #1b3039;
    padding: 20px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 a {
    
    color: #202225;
}
a :hover{
    color: #ffbc0e;
    transform: scale(1.1);
}



